@media (max-width: 720px) {
    [data-role="form"] {
        > .input {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
        }
    }

    #auth {
        flex-direction: column;
        > div[class*='flex-'] {
            width: calc(100vw - (2 * 25px));
            min-height: 50vh;
            height: 300px;
            >.empty-space {
                padding: 0;
            }
        }
        >.flex-left {
          align-items: center;
        }
        & hr {
            width: 100%;
        }
        & input[type="password"]:nth-last-of-type(2) {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 600px) {
    aside {
        display: none;
    }

    main, footer {
        width: 100% !important;
        left: 0 !important;
    }

    [data-role="form"] {
        > .input {
            flex-direction: column !important;
            > input[type="text"] {
                width: 100%;
                padding: 20px 0;
                margin-bottom: 10px;
            }
            > button {
                width: 100% !important;
                margin-left: 0 !important;
                > p {
                    font-size: 90%;
                }
            }
        }
        > .status {
            .uk-alert > p > span {
                font-size: 90%;
            }
        }
    }

    .message {
        & .uk-alert {
            padding: 6px;
            > p {
                font-size: 90%;
            }
        }
    }

    .uk-subnav {
        padding: .5rem 0 !important;
        > * {
            padding-left: 5px;
        }
        > li > a {
            font-size: .9rem;
        }
    } 

    [data-role="social-results"] > ul.cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    [data-role="form"] {
        > .input {
            input[type='text'] {
                font-size: 1.5rem;
                padding: 1rem 0;
            }
        }
    }

    > .status {
        .uk-alert > p > span {
            font-size: .9rem;
            padding: 0 10px;
        }
    }
}