[class^='swal2'] {
    font-family: 'KoPubDotumMedium' !important;
}

.swal2-container {
    padding: 0;
}

#swal2-content {
    max-height: 75vh;
    font-size: 1.2em;
    line-height: 1.6;
    overflow-y: auto;
}